# React-related files
/frontend\my-app\node_modules
node_modules/
OutsideProjectCatJSONDataCreator/

/ClientApp/build/
/ClientApp/.env.local
/ClientApp/.env.development.local
/ClientApp/.env.test.local
/ClientApp/.env.production.local

/backend/TinderForPets_Back/.vs

obj/Debug/net8.0

/backend/TinderForPets_Back/.vs
/backend/TinderForPets_Back/TinderForPets.Data/mycert.pfx

/backend/TinderForPets_Back/TinderForPets.API/appsettings.json
/backend/TinderForPets_Back/TinderForPets.API/appsettings.Development.json

/backend/TinderForPets_Back/TinderForPets.Data/mycert.pfx
