# React-related files
/frontend\my-app\node_modules
node_modules/
OutsideProjectCatJSONDataCreator/
.vs\TinderForPets_Back
/ClientApp/build/
/ClientApp/.env.local
/ClientApp/.env.development.local
/ClientApp/.env.test.local
/ClientApp/.env.production.local

/backend/TinderForPets_Back/.vs

obj/Debug/net8.0

mycert.pfx