
body {
    font-family: Arial, sans-serif;
    background-color: #FAEFEA; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: linear-gradient(90deg, #F2A892, #D37864); 
}


.logo {
    width: 40px;
    height: 40px;
    background-color: #E0DCCB; 
    border-radius: 50%;
}


nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.sign-in-button {
    padding: 10px 20px;
    background-color: #A85E4D; 
    border-radius: 20px;    
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.sign-in-button:hover {
    color:#E0DCCB;
    letter-spacing: 0cm;
}

.sing-in-button span{
    position: absolute;
    display: block;
    background: dodgerblue;
}

.sign-in-button span :nth-child(1) {
    left: 0;
    top: 0;
    width: 0.05cm;
    height: 0.03cm;
    transform: scale(0);
    transform-origin: left;
    transition: transform 0.5s;
}
.sign-in-button:hover span :nth-child(1) {
    transform: scale(1);
    transform-origin: right;
}  

.create-account-button {
    padding: 10px 20px;
    background-color: #A85E4D; 
    border-radius: 20px;
}

.form-container {
    background-color: #FFE3D9;
    padding: 40px;
    border-radius: 15px;
    width: 100%; /* Контейнер занимает всю ширину */
    max-width: 400px; /* Ограничиваем максимальную ширину контейнера */
    margin: 100px auto; /* Центрируем контейнер */
    text-align: center;
}

.form-container input {
    width: 80%; /* Устанавливаем ширину полей формы */
    max-width: 300px; /* Максимальная ширина для больших экранов */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #E0DCCB;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box; /* Чтобы padding входил в размер поля */
}



.form-container h2 {
    margin-bottom: 20px;
    color: #A85E4D; 
}





.forgot-password {
    display: block;
    margin-bottom: 20px;
    color: #A85E4D;
    font-size: 14px;
    text-decoration: none;
}


.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #A85E4D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


.form-container button:hover {
    background-color: #8B4C3D;
}


footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #FAEFEA;
    align-items: center;
    font-size: 12px;
    color: #A85E4D;
}


.chat-bot {
    display: inline-block;
}