.no-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15%;
    text-align: center;
}
.no-data-image {
    width: 100px;
    height: 100px;
}