.container {
  display: flex;
  width: 100%;
}

.border {
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}

.sidebar-container {
  width: 20%;
}

.sidebar {
    height: 100%;
    width: 20%;
    position: fixed; 
    z-index: 1; 
    background-color: #F0997D; 
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black; /* Light color for title */
  }

.sidebar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .toggler-preference {
    display: flex;
    align-items: center;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .toggler:checked + .slider {
    background-color: #A75D5D;
  }
  
  .toggler:focus + .slider {
    box-shadow: 0 0 1px #A75D5D;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .distance-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .preference-btn {
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 40px;
    background: none;
    border: none;
    font-family: 'Karla', 'sans-serif';
  }

  .preference-btn:hover {
    background-color: #A75D5D;
  }

  .legal-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .legal-section a {
    text-decoration: none;
    color: black;
  }

  .legal-section a:hover {
    text-decoration: underline;
    color: #A75D5D;
  }

  #distance-slider {
    width: 100%;
    accent-color: #A75D5D;
  }

  .profile-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;                
    max-width: 400px;
    margin: auto;
    text-align: center;
  }

  .profile-card__name, .profile-card__title {
    text-transform: capitalize;
    width: 100%;
    word-wrap: break-word;
    margin: 0; 
  }

  .profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  .animal-image {
    width:100%
  }

  .medical-profile-data {
    display: flex;
    justify-content: center;
  }

  .modal {
    width: 300px;
    position: relative;
    background-color: #FFE9DD;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 4px;
    animation: scaleUpForm 0.3s ease-out forwards; 
    padding: 0;
  }

  .modal_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
  }
  .modal_container h3 {
    text-align: center;
  }

  .modal_description {
    text-align: center;
    color: #858484;
    margin: 10px 10px;
  }

  .modal_buttonCancel, .modal_buttonConfirm {
    cursor: pointer;
    border: none;
    padding: 10px;
    width: 200px;
    font-family: 'Karla';
    font-size: 16px;
    margin-right: 10px;
    border-radius: 20px;
    margin-bottom: 5px;
  }
  .modal_buttonConfirm{
    background-color: #A75D5D;
    color: #FFFFFF;
  }

  .modal_buttonConfirm:hover {
    background-color: #864c4c;
  }

  .modal_buttonCancel {
    background: none;
  }

  .modal_buttonCancel:hover {
    background-color: #fcdece;
  }

  .edit-profile-btn {
    cursor: pointer;
    border-radius: 20px;
    background-color: #A75D5D;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    width: 150px;
    font-family: 'Karla';
    font-size: 16px;
    margin: 7px;
  }
  .edit-profile-btn:hover {
    background-color: #864c4c;
  }

  @keyframes scaleUpForm {
    0% {
      transform: scale(0); 
      opacity: 0; 
    }
    100% {
      transform: scale(1); 
      opacity: 1; 
    }
}

@keyframes scaleDownForm {
    0% {
      transform: scale(1); 
      opacity: 1;
    }
    100% {
      transform: scale(0); 
      opacity: 0; 
    }
}

/* MATCH CARDS */
.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  width: 100%;
}

.match-card {
  height: 100px;
  width: 100px;
  margin: 2px;
  border-radius: 5px;
}